* {
    margin: 0;
    padding: 0;
    color: #2E2E2E;
    font-family: 'Roboto', sans-serif;
}
a {
    text-decoration: none;
    text-align: center;
}

body {
    background-color: #E1AA7F;
}


.nav {
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
    padding: 1rem;
    @media (max-width: 600px) {
        width: 90%;
    }
    &__btn {
        @media print {
            display: none;
        }
        display: none;
        font-size: 1.8rem;
        width: 3rem;
        height: 2.8rem;
        justify-content: center;
        align-items: center;
        border: 2px solid #D2834C ;
        box-shadow: inset 2px 2px #2e2e2e, inset -2px -2px #2e2e2e ;
        background-color: #D2834C;
        border-radius: 0.4rem;
        i {
            color: #2e2e2e;
        }
        @media (max-width: 600px) {
            @media print {
                display: none;
            }
            display: flex;
        }
    }
    &__list {
        width: 60%;
        display: flex;
        justify-content: flex-end;
        list-style-type: none;
        gap: 1rem;
        @media print {
            display: none;
        }
        @media (max-width: 600px) {
            @media print {
                display: none;
            }
            width: 100%;
            flex-direction: column;
            align-items: center;
        }
    }
    &__img {
        align-self: center;
    }
} 

.nav-list__item {
    @media print {
        display: none;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #D2834C ;
    box-shadow: inset 2px 2px #2e2e2e, inset -2px -2px #2e2e2e ;
    background-color: #D2834C;
    width: 8rem;
    height: 2.5rem;
    border-radius: 0.4rem;
    @media (max-width: 600px) {
        width: 80%;
    }
    i {
        color: #2e2e2e;
        margin-right: 0.2rem;
    }
        
}
.nav-list__sign {
    @media print {
        display: none;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #D2834C ;
    box-shadow: inset 2px 2px #2e2e2e, inset -2px -2px #2e2e2e ;
    background-color: #D2834C;
    width: 8rem;
    height: 2.5rem;
    border-radius: 0.4rem;
    @media (max-width: 600px) {
        width: 80%;
    }
    a{
        color: #8f5bfe;
    }
    i {
        color: #8f5bfe;
        margin-right: 0.2rem;
    }
}

.nav-list__cart {
    @media print {
        display: none;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #D2834C ;
    box-shadow: inset 2px 2px #2e2e2e, inset -2px -2px #2e2e2e ;
    background-color: #D2834C;
    width: 8rem;
    height: 2.5rem;
    border-radius: 0.4rem;
    position: relative;
    @media (max-width: 600px) {
        width: 80%;
    }
    i {
        color: #2e2e2e;
        margin-right: 0.2rem;
    }
    &__count {
        display: none;
        justify-content: center;
        align-items: center;
        width: 18px;
        height: 18px;
        background-color: #8f5bfe;
        position: absolute;
        border-radius: 50%;
        top: -9px;
        right: -9px;
        padding: 0.2rem;
    }
}




.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 28rem;
        height: 5rem;
        background: #E1AA7F;
        transform: perspective(6px) rotateX(359deg);
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        @media (max-width: 600px) {
            display: none;
        }
    }
    &__title {
        @media print {
            display: none;
        }
        position: absolute;
        text-align: center;
        text-shadow: 2px 2px #1D8177;
    }
    &__text {
        @media print {
            display: none;
        }
        position: absolute;
        top: 3rem;
        text-align: center;
        color: #404040;
        @media (max-width: 600px) {
            top: 4.5rem;
            text-shadow: 2px 2px #1D8177;
        }
    }
}

.section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    &__title {
        @media print {
            display: none;
        }
        color: #2E2E2E;
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        border-radius: 0.8rem;
        font-family: 'Bungee Shade', cursive;
        &::before, &::after {
            content: '';
            width: 20%;
            height: 2px;
            margin: 0 1rem;
            background-color: #2E2E2E;
            display: inline-block;
        }
    }
    &__img {
        @media print {
            display: none;
        }
        height: 15rem;
        width: 100%;
        object-fit: cover;
    }
    &__products {
        width: 90%;
        max-width: 900px;
        display: flex;
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
        gap: 1rem;
        &:hover .product {
            filter: grayscale(20%);
            opacity:.5;
        }    
        &:hover .product:hover {
            filter: grayscale(0);
            opacity:1;
        }
    }
    &::after {
        content: '';
        width: 80%;
        height: 2px;
        background-color: #2E2E2E;
        display: inline-block;
    }
    &__btn {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 80%;
        padding: 1rem;
        @media (max-width: 600px) {
            width: 90%;
            gap: 1rem;
            justify-content: center;
        } 
    }
}

.product-content {
    width: 285px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.product {
    background-color: #2e2e2e;
    padding: 2px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #fff;
    &__img {
        width: 267px;
        height: 170px;
        border: 3px solid #fff;
        object-fit: cover;
        border-top-left-radius: 0.6rem;
        border-top-right-radius: 0.6rem;
    }
    &__info {
        background-color: #fff;
        border: 3px solid #fff;
        border-bottom-left-radius: 0.6rem;
        border-bottom-right-radius: 0.6rem;
        width: 267px;
        height: 35px;
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    &__more-info {
        background-color: #fff;
        border: 3px solid #fff;
        border-bottom-left-radius: 0.6rem;
        border-bottom-right-radius: 0.6rem;
        width: 267px;
        height: auto;
        font-weight: bold;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        
    }
}
.product-more {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media print {
        display: none;
    }
}

button {
    font-size: 1rem;
    width: 50px;
    height: 2.8rem;
    justify-content: center;
    align-items: center;
    border: 2px solid #D2834C ;
    box-shadow: inset 2px 2px #2e2e2e, inset -2px -2px #2e2e2e ;
    background-color: #D2834C;
    border-radius: 0.4rem;
    cursor: pointer;
    &:disabled {
        opacity: 0.1;
    }
}


.footer { 
    width: 100%;
    height: auto;
    @media print {
        display: none;
    }
}
.footer-list {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    list-style-type: none;
    margin: 1rem 0 1rem 0;
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #D2834C;
        box-shadow: inset 2px 2px #2e2e2e, inset -2px -2px #2e2e2e ;
        background-color: #D2834C;
        width: 10rem;
        height: 2.5rem;
        border-radius: 0.4rem;
        color: #2e2e2e;
        cursor: pointer;
    }
}

.cart-products {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 80%;
    max-width: 900px;
}
.cart-product {
    width: 97.5%;
    height: 6rem;
    background-color: #2e2e2e;
    padding: 0.15rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    border: 0.25rem solid #fff;  
    &__title {
        border-top-left-radius: 0.6rem;
        border-bottom-left-radius: 0.6rem;
        background-color: #fff;
        width: 30%;
        height: 6.05rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    } 
    &__quantity {
        background-color: #fff;
        width: 10%;
        height: 6.05rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__price {
        background-color: #fff;
        width: 30%;
        height: 6.05rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__btn{
        border-top-right-radius: 0.6rem;
        border-bottom-right-radius: 0.6rem;
        background-color: #fff;
        width: 10%;
        height: 6.05rem;
        font-weight: bold;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}

.window {
    display: none;
    width: 60%;
    height: 5rem;
    padding: 2%;
    background-color: #fff;
    z-index: 5000;
    position: absolute;
    background-color: #fff;
    border-radius: 1rem;
    align-items: center;
    border: 0.25rem solid #fff; 
    box-shadow: inset 3px 3px #2e2e2e, inset -3px -3px #2e2e2e ;
    text-align: center; 
    justify-content: space-between;
    &__text {
        display: flex;
        gap: 1rem;
    }
}

.empty-cart {
    display: none;
    width: 60%;
    height: 5rem;
    padding: 2%;
    background-color: #fff;
    border-radius: 1rem;
    border: 0.25rem solid #fff; 
    box-shadow: inset 3px 3px #2e2e2e, inset -3px -3px #2e2e2e ;
    text-align: center; 
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.form {
    width: 60%;
}
.form-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    &__label {
        font-size: 1.2rem;
    }
    &__input {
        border-radius: 0.6rem;
        width: 70%;
        height: 2rem;
        padding: 0 0 0 1rem;
    }
}

.section__btn-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #D2834C ;
    box-shadow: inset 2px 2px #2e2e2e, inset -2px -2px #2e2e2e ;
    background-color: #D2834C;
    width: auto;
    gap: 0.5rem;
    height: 1.9rem;
    border-radius: 0.4rem;
    padding: 0.3rem;
    cursor: pointer;
    @media (max-width: 600px) {
        width: 80%;
    }
    i {
        color: #2e2e2e;
    }
}

.confirmation-message {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: auto;
    padding: 2%;
    background-color: #fff;
    border-radius: 1rem;
    border: 0.25rem solid #fff; 
    box-shadow: inset 3px 3px #2e2e2e, inset -3px -3px #2e2e2e ;
    text-align: center; 
    justify-content: center;
    align-items: center;
    gap: 1rem;
    &__text {
        display: flex;
        gap: 1rem;
    }
    &__value {
        font-weight: bold;
    }
}

.invoice {
    display: none;
    flex-direction: column;
    width: 60%;
    height: auto;
    padding: 2%;
    background-color: #fff;
    border-radius: 1rem;
    border: 0.25rem solid #fff; 
    box-shadow: inset 3px 3px #2e2e2e, inset -3px -3px #2e2e2e ;
    text-align: center; 
    justify-content: center;
    align-items: center;
    gap: 1rem;
    @media print {
        display: flex;
    }
}